.navbar-brand {
    display: flex;
    align-items: center;
    width: auto;
}

.logo {
    height: 80px;
    width: auto;
}

/* Ajustement du texte DUCK23 STORE */
.logo-titre {
    height: 40px;
    width: auto;
}

.navbar-nav {
    gap: 20px;
}

.navbar-nav .nav-link {
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
}

.navbar-nav .nav-link:hover {
    color: #0099cc;
}

.panier {
    height: 20px;
    width: auto;
}

.footer {
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
  }

  .footer-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }

  .footer-link:hover {
    color: #0099cc;
    text-decoration: none;
  }

  @media (max-width: 767px) {
    .navbar-brand {
        width:80%;
    }

    .logo {
        height: auto;
        width: 20%;
    }

    .logo-titre {
        height: auto;
        width: 78%;
    }

    .navbar {
        display: flex;
    }

    .navbar-toggler {
        width: 15%; 
    }
  }
