<section class="hero-section container text-center">
    <img src="assets/img/DUCK23_logo_2025.png" alt="DUCK23 Logo" class="img-fluid" width="200">
    <h2>Affichez fièrement votre identité,<br> Soutenez notre association.</h2>
    <p class="hero-text">Une gamme de produits pour briller en dev, au bureau ou en repas de famille.</p>
</section>

<!-- Produits -->
<section class="container my-5">
    <h2 class="nos-produits">NOS PRODUITS</h2>
    <br>
    <br>
    <div class="row text-center justify-content-center">
        <div class="col-md-4">
            <div class="product">
                <img src="assets/img/Sweatshirt.png" alt="Sweatshirt" class="img-fluid">
                <p><b>Sweat-shirt pour rayonner en société</b></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product">
                <img src="assets/img/Mug.png" alt="Mug" class="img-fluid">
                <p><b>Mug pour boire avec élégance</b></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product">
                <img src="assets/img/Sticker.png" alt="Sticker" class="img-fluid">
                <p><b>Sticker pour se coller et ne plus se quitter</b></p>
            </div>
        </div>
    </div>
</section>
