.modify-password-container {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
  }

  .modify-password-title {
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .modify-password-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .modify-password-form input {
    padding: 10px;
    border: 1px solid #0097b2;
    border-radius: 5px;
  }

  .btn {
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
  }

  .confirm-btn {
    background-color: #0097b2;
    color: white;
  }

  .confirm-btn:hover {
    background-color: #007a8a;
	color: white;
  }
