<section class="modify-password-container">
	<br>
	<h2 class="modify-password-title">Modifier mon mot de passe</h2>
	<form (ngSubmit)="onSubmit($event)" #modifyPasswordForm="ngForm" class="modify-password-form">
	  <input type="password" name="newPassword" ngModel placeholder="Nouveau mot de passe" required>
	  <input type="password" name="confirmPassword" ngModel placeholder="Confirmer le mot de passe" required>
	  <button type="submit" class="btn confirm-btn" [disabled]="modifyPasswordForm.invalid">Confirmer</button>
	  <br>
	</form>
  </section>
