.container {
	max-width: 800px;
  }

  .text-center {
	font-family: 'Permanent Marker', cursive;
    font-size: 22px;
    font-weight: bold;
	  }
	  
  .table {
	background: white;
	border-radius: 10px;
	overflow: hidden;
  }

  input {
	width: 60px;
	text-align: center;
  }

  .btn-danger {
	font-size: 0.8rem;
  }
